{% extends "base.html" %}

{% block title %}Anasayfa{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <a href="/fis-ekle" class="btn btn-success btn-lg mx-3">Fiş Ekle</a>
        <a href="/harcamalari-goruntule" class="btn btn-success btn-lg mx-3">Harcamaları Görüntüle</a>
    </div>
</div>
<style>
    .btn-success {
        border-radius: 10px;
        font-size: 1.2rem;
        padding: 15px 30px;
        transition: transform 0.2s ease, background-color 0.3s ease;
    }

    .btn-success:hover {
        background-color: #28a745; /* Daha koyu bir yeşil */
        transform: scale(1.05); /* Hafif büyüme efekti */
    }
</style>

{% endblock content %}
